body{
    font-family: Arial, Helvetica, sans-serif;color: #C0C0C0,text-align: center;width: 20%;
}    
h1 {
    font-family: "Arial Black", Gadget, sans-serif;background-color: #ffffff;
    color: #5c0120;text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

#subtitle{ background-color: #5c0120;
color: #ffffff;text-align: center;padding-top: 25px;padding-bottom: 25px;width: 20%;}
